<div class="header">
  <!-- <button mat-button [matMenuTriggerFor]="search">Tìm Kiếm Mu</button>
  <mat-menu #search="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Quảng Cáo</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu">Đăng Mu Mới</button>
  <mat-menu #beforeMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="afterMenu">Hướng Dẫn Chơi Game</button>
  <mat-menu #afterMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->
</div>